	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
							<div class="logo">
								<a href="index.html">
										<img src="images/tripmouseLogoTransparent.png" alt="TripMouse" style="width:84px;height:84px;border:0;">
							</a>
						</div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li class="active"><a href="index.html">Home</a></li>
									<li><a href="about.html">About</a></li>
									<li><a href="help.html">Help</a></li>
								</ul>
							</nav>
							<div class="header_phone ml-auto">Call us: +31 (0)6 16 12 76 59</div>

							<!-- Hamburger (if small screen) -->

							<div class="hamburger ml-auto">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>