<h2>about</h2>
<a href="/signup">sign up</a><br><br>
<a href="/login">log in</a><br><br>
<a href="/logout">log out</a><br><br>
<a href="/help">help</a><br><br>
<a href="/search">search</a><br><br>
<a href="/">main</a><br><br><!--where is a logo I guess -->