<div class="super_container">
	
	<!-- Header -->

    {{> header}}
	
	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			
				
				<!-- Slide -->
				
					<div class="background_image" style="background-image:url(images/home_slider.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>TripMouse</h2></div>
									</div>
                                    <br>
                                    <br>
									<h4>Designed for the frequent flyer, TripMouse crawls the web for the best flight deals.<br><br>
                                    We search all major airlines and fare aggregators to find you the best price.<br><br>
                                    Whether you know where you're going; or whether you want a surprise destination.</h4>

								</div>
							</div>
						</div>
					</div>
				

			
		</div>
	</div>