{{> header}}
<div class="super_container">
	
	<!-- Header -->

    {{> header}}
	
	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			
				
				<!-- Slide -->
				
					<div class="background_image" style="background-image:url(images/home_slider.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>TripMouse</h2></div>
									</div>
                                    <br>
                                    <br>
									<h4>Are you having issues using TripMouse?<br><br>
                                    We recommend checking out our <a href="https://www.skyscanner.com/tips-and-inspiration/frequently-asked-questions-skyscanner">FAQs page</a>.<br><br>
                                    If you can't find what you're looking for, email us at <a href="mailto:help@tripmouse.travel?Subject=Customer%20query" target="_top">help@tripmouse.com</a>.</h4>
								</div>
							</div>
						</div>
					</div>
				

			
		</div>
	</div>
