
<div class="super_container">
	
	<!-- Header -->

    {{> header}}
	
	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			
				
				<!-- Slide -->
				
					<div class="background_image" style="background-image:url(images/home_slider.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>TripMouse</h2></div>
									</div>
									<h4>The airfare finder for frequent flyers.</h4>
									{{#if user}}
									<button style="margin:2vw" class="home_search_button" name="search" value="search"><a href="/search">Search</a>
									{{else}}
									<button style="margin:2vw" class="home_search_button" name="login" value="login"><a href="/login">Log In</a>
									<button style="margin:2vw" class="home_search_button" name="signup" value="signup"><a href="/signup">Sign Up</a>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				

			
		</div>
	</div>

	<!-- Search -->
<!--
	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_title">Search for your trip</div>
						<div class="home_search_content">
							<form action="#" class="home_search_form" id="home_search_form">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
									<input type="text" class="search_input search_input_1" placeholder="City" required="required">
									<input type="text" class="search_input search_input_2" placeholder="Departure" required="required">
									<input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
									<input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
									<button class="home_search_button">search</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

-->
