<div class="super_container">
	
	<!-- Header -->

    {{> header}}
	
	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			
				
				<!-- Slide -->
				
					<div class="background_image" style="background-image:url(images/home_slider.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>TripMouse</h2></div>
									</div>
                                        <h3>Log in</h3>
                                            <form method="POST">
												<ul>
                                                <span style="color: red">{{ error }}</span>
                                                <li><input type="email" name="email" placeholder="example@email.com"></input></li>
                                                <li><input type="password" name="password" placeholder="password"></input></li>
                                                <!--<input type="password" name="passwordcheck"></input>-->
                                                <li><button type="submit" class="home_search_button">Log In</button></li>
												</ul>
											</form>
									

								</div>
							</div>
						</div>
					</div>
				

			
		</div>
	</div>