{{> header}}

<h2>sign up</h2>
<form method="POST">
    <span style="color: red">{{ error }}</span>
    <input type="text" name="firstName"></input>
    <input type="text" name="lastName"></input>
    <input type="text" name="phone"></input>
    <input type="email" name="email"></input>
    <input type="password" name="password"></input>
    <!--<input type="password" name="passwordcheck"></input>-->
    <button type="submit">Reg</button>
</form>
<a href="/login">log in</a><br><br>
<a href="/logout">log out</a><br><br>
<a href="/">main</a><br><br><!--where is a logo I guess -->

<a href="/help">help</a><br><br>